@use "general";
@use "header";

#product_selection {
    width: 90%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product_card {
    display: grid;
    row-gap: 20px;
}

.product_image {
    width: 200px;
    border-radius: 30px;
}

.product_description {
    width: 200px;
}

.delete_button {
    width: 100px;
    justify-self: center;
}