@use "general";
@use "header";

img {
    width: 100%;
}

#hero {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    min-height: 35vh;

    >p {
        width: 80%;
        text-align: center;
    }

    >img {
        border-radius: 30px;
        max-width: 500px;
        ;
    }
}

#products {
    width: 90%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product_card {
    display: grid;
    row-gap: 20px;
}

.product_image {
    width: 200px;
    border-radius: 30px;
}

.product_description {
    width: 200px;
}

.cart_button {
    width: 100px;
    justify-self: center;
}